$main-font: 'OpenSans', sans-serif;
$text-font: 'Roboto', sans-serif;
$main-fz: 14px;

$main-font-color: #5D5D5D;
$main-color: #07BBF0;
$light-gray: #A19B9B;
$border-color: #E5E5E5;
$modal-gray: #ACA8A8;
