section(id="about").about
  +title("О фабрике")
  .container
    .about__container
      .about__text
        p Бренд Prianera® - это отражение традиций одной из старейших фабрик Италии Polaris designed for living srl. Опыт, страсть к профессии и мастерство являются прочной основой для создания качественных предметов мебели, в которых есть характер, идея, эстетика. Высокая ценнотсть ручной работы соединилась с новейшими производственными технологиями, устанавливая новые эталоны качества и стиля. 
        p Соединяя мост между поиском формы и функциональностью, исследуя эргономику и современные материалы, бренд Prianera® демонстрирует удивительную гибкость в творческом мышлении. Сотрудничество с известными архитекторами и дизайнерами вносит в каждую коллекцию предметов мебели неповторимый облик, индивидуальность, эксклюзивность. 
        p Мебель Prianera®, - это не только последние тренды в дизайне, выраженные в форме и материале, но и безупречное качество, выраженное в итальянском стиле.
      .about__img
        img(src="img/about.jpg", alt="Фабрика Prianera")


          
