section(id="contacts").contacts
  +title("Контакты")
  .contacts__container
    .container 
      .contacts__content
        .contacts__item Эксклюзивный дилер Prianera®<br />в Санкт-Петербурге
        .contacts__item.contacts__item_font-weight-300 
          | Мы работаем без выходных<br />
          | с 10.00 до 20.00<br />
          | в выходные<br />
          | с 11.00 до 18.00<br />
        .contacts__item 
          a(href="tel:89117771218").contacts__link 8 (812) 500-05-71
        .contacts__item
          | Санкт-Петербург<br />
          | пр. Медиков, д. 10, к. 1<br />
          | м. Петроградская
          div
            a(href="mailto:berloni-spb@gmail.com").contacts__link berloni-spb@gmail.com
        
