-
  var features = [
    "Официальный дилер Prianera<br />в Санкт-Петербурге",
    "Большой выбор образцов<br />Качественная натуральная кожа и ткани.<br />Контроль строчек и шво",
    "Ручная работа и&nbsp;высокие технологии",
    "Итальянское качество<br />Made in Italy",
    "Авторские коллекции<br />от ведущих дизайнеров",
    "Диваны и кресла<br />на экспозиции в шоу-руме"
  ]

section(id="features").features
  +title("Преимущества")
  .container
    .features__items 
      for item, index in features
        .features__item
          .features__icon
            img(src="img/features/feature-" + index + ".svg", alt="Преимущество")
          .features__descr!= item
          
