-
  var introItems = [
    {
      "class": "size-icon",
      "text": "Выезд замерщика на обьект"
    },
    {
      "class": "design-icon",
      "text": "Бесплатный дизайн-проект"
    },
    {
      "class": "garant-icon",
      "text": "Гарантия на работы и комплектующие"
    }
  ]

section.intro
  .container
    .intro__container
      .intro__info
        ul.features-info
          for item in introItems
            li.features-info__item(class="features-info__item_" + item.class)= item.text
        button.call-btn._open-order-call-modal
          span.call-btn__text Я хочу сделать замер
          span.call-btn__icon 
            img(src="img/tel.svg" alt="Иконка телефона")
      
