section.map
  .container
    +title("Салон мебели на карте")
  .map__container 
    script(charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abfa7836685b9ecdbcbe75669fec0502816884312d8cda31ddab4740a7cfe0e8a&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true")
