-
  var reviewsItems = [
    "Для меня, как архитектора, выбор был очевиден. Никаких компромиссов в качестве. Кухни <span class='italic'>Berloni</span>, - это как раз тот элемент интерьера, который подчёркивает элегантность Вашей работы в целом. Утончённые линии и строгость, в некотором роде...монументальность, - не что иное, как проявление утерянного в советское время, эстетического восприятия архитектуры, мебели и форм.",
    "Вначале я не хотела оформлять интерьер с таким авторским подходом к кухонному пространству, но мне действительно нравится собирать друзей дома, часами болтать с подругами, слушать музыку и готовить. С кухнями <span class='italic'>Berloni</span> я почувствовала  ритм жизни ещё острее! Друзья были в восторге! Ещё раз убедилась, что мебель из масс-маркетов, - это не про меня. Люблю стиль во всём!",
    "Хорошая кухня, - это забота о своей семье. Я много работаю и уют дома очень важен. Не пожалел ни разу, что обратился в салон и нам с женой сделали действительно хороший проект с продуманной эргономикой и стилем. Сборка кухни была быстрой и качественной. В свой загородный дом я тоже буду покупать только <span class='italic'>Berloni</span>, хочу чтобы это стало одной из семейных традиций, - только качественная итальнская мебель."
  ]

section(id="reviews").reviews
  +title("Отзывы покупателей")
  .container
    .reviews__slider.reviews-slider
      each item, index in reviewsItems
        div
          .reviews-slider__photo
            img(src="img/reviews/review-" + index + ".jpg", alt="Фотография")
          p.reviews-slider__text!= item
