-
  var reviewsItems = [
    "Многие товарищи “по цеху” и просто знакомые часто ищут компромисс между стоимостью и качеством. За много лет работы в архитектуре и дизайне интерьера, я понял, что такой “золотой середины” быть не может. Или Вы выбираете действительно эстетичную и функциональную мебель, где качество как второе имя бренда, или, довольствуетесь масс-маркетом. Выбор всегда за Вами. Я свой уже сделал) Кстати, и имя у него не менее гармонично .... <span class='bold'>Prianera</span>",
    "Итальянская мебель, - это не роскошь, а образ мысли, образ жизни. Когда-то я даже не могла себе представить, что это так просто: позвонить и купить. Мы с мужем часто бывали на выставках в Милане, но это казалось сложным: заказать, оплатить, сделать замеры... всё таки надо доверять профессионалам их работу, что мы и сделали. Рады, что всего один звонок, здесь в Петербурге, решает все проблемы! А про красоту диванов <span class='bold'>Prianera</span> и говорить не приходиться - это гордость нашего дома!",
    "Качество итальянской мебели, - это не просто рекламные лозунги, и красивые картинки. В нашем загородном доме большая гостиная, которая уже заполнена мебелью <span class='bold'>Prianera</span>. Я искренне рад,  что не стал размениваться на меньшее: качество говорит само за себя. Мы любим принимать гостей и они с восторгом смотрят на модные диваны в современном стиле. Но для меня, как человека уверенного в себе и своём выборе, - это не более, чем  комплимент."
  ]

section(id="reviews").reviews
  +title("Отзывы покупателей")
  .container
    .reviews__slider.reviews-slider
      each item, index in reviewsItems
        div
          .reviews-slider__photo
            img(src="img/reviews/review-" + index + ".jpg", alt="Фотография")
          p.reviews-slider__text!= item
